[theme='dark'] {
  --bg-color: #222431;
  --bg-color-alternative: #181a23;

  --text-color: #fcfaf1;

  --separator-color: #393a3d;

  --menu-item-hover-color: #ffffff25;
  --menu-item-active-color: #ffffff10;

  --button-success-color: #4caf50;
  --button-danger-color: #f44336;
  --button-warning-color: #fffe3b;
  --button-info-color: #2196f3;
  --button-flat-color: #222431;
  --button-flat-hover-color: #ffffff25;
  --button-flat-active-color: #ffffff10;
}
